body{
    background-color: #006df7;
}
nav{
    display: flex;
    justify-content: space-around;
    gap: 150px;
    background-color: #006df7;
    position: sticky;
    top: 0;
    width: 102%;
    margin-left: -7px;
}
.left{
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
    cursor: pointer;
}
.right{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}
.first{
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
}
.first-details{
    position: absolute;
    width: 280px;
    height: 150px;
    background-color: white;
    top: 20px;
    border-radius: 6px;
    display: none;
}
.first:hover .first-details{
    display: block;
}
.inn{
    width: 90%;
    height: 50px;
    gap: 20px;
    margin-left: 20px;
}
.inn:hover{
    background-color: #f2f2f2;
}
.inn1{
    width: 100%;
    height: 50px;
}
.inn1:hover{
    background-color: #f2f2f2;
}

.txt{
    margin-left: 20px;
}
.download{
    height: 50px;
    width: 200px;
    background-color: white;
    color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.big-div{
    padding-left: 85px;
    margin-top: 130px;
    display: flex;
    gap: 250px;
}
.on{
    color: white;
    font-size: 80px;
    font-weight: bold;
}
.pa{
    margin-top: -30px;
    color: white;
    font-size: 20px;
}
.baba{
    width: 102%;
    height: 400vh;
    background-color: white;
    margin-left: -7px;
}
.mira{
    margin-left: 150px;
    padding-top: 120px;
    display: flex;
    gap: 200px;
}

.app{
    height: 50px;
    width: 160px;
    background-color: #274fed;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    font-size: bold;
    border-radius: 20px;
}
.mira2{
    margin-left: 150px;
    padding-top: 120px;
    display: flex;
    gap: 140px;
}
.card-1{
    width: 250px;
    height: 150px;
    margin-top: -60px;
    margin-left: 50px;
    position: absolute;
    z-index: 100;
}
.card-2{
    width: 250px;
    height: 150px;
    position: absolute;
    margin-top: 100px;
    margin-left: -80px;
    z-index: 100;
}
.card-3{
    width: 250px;
    height: 150px;
    position: absolute;
    z-index: 100;
    margin-top: 230px;
    margin-left: 40px;
}
